@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: var(--font-halenoir), sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar:hover {
    width: 6px;
}

.scroll::-webkit-scrollbar {
    width: 6px !important;
}

.scroll::-webkit-scrollbar:hover {
    width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px #d6d6d6;
    border-radius: 10px;
    background-color: #d6d6d6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    height: 2px;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FF7043;
}

#preview-only h2,
h3 {
    @apply font-semibold
}

#preview-only strong {
    @apply font-semibold
}

#preview-only h4,
h5 {
    @apply font-medium
}

#preview-only h1 {
    @apply text-sm
}

#preview-only h2 {
    @apply text-xs
}

#preview-only h3, h4, h5 {
    @apply text-2xs
}

#preview-only p, li {
    @apply text-3xs
}

.md-editor-preview-wrapper {
    @apply !p-0
}